apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-nekcckof
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-nekcckof:20bdd52aa6a8270b45187a846d9a03af21513e61@sha256:dc25f3a79aa4cb3608909b21d5962e4402ae2c17ccfe43fefd0302a4fcb646a2
          name: container-image
